@import "../../style/variable.scss";

.record-audio {
  padding: 20px 30px;
  .wrap-item-function-small {
    margin: 20px 0;
  }
  .recording {
    padding: 15px 30px 45px 30px;
    border: 1px solid #707070;
    width: 522px;
    .title-box {
      font-size: $sizeSectionTitle;
      color: #025199;
      font-family: $fontSecondary;
      line-height: 27px;
      font-weight: $semilight;
    }
    .wrap-file {
      margin-top: 20px;
      span {
        color: #4d4d4d;
        font-family: $sizeHeading;
        font-weight: $bold;
        font-size: $sizeHeading;
        line-height: 19px;
      }
      // .txt-1 {
      //   margin-right: 4px;
      // }
      .file-name {
        border: 0.75px solid #999999;
        border-radius: 4px;
        padding: 3px;
      }
    }
    .audio-spectrum-and-time {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 160px;
      .spectrum {
        height: 75px;
        width: 100%;
        overflow: hidden;
        background-color: #4d4d4d;
      }
      .time-audio {
        color: #4d4d4d;
        font-family: $fontPrimary;
        font-weight: $regular;
        font-size: $sizeCaption;
        line-height: 17px;
        display: block;
        text-align: right;
        margin-top: 5px;
      }
    }
  }
}
