@import "../../style/variable.scss";

.record-audio {
  padding: 20px 30px;
  .record-audio-function {
    margin: 20px 0;
    width: 120px;
    height: 120px;
    background-color: #29abe2;
    display: flex;
    padding: 15px 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    span {
      font-family: $fontPrimary;
      font-size: $sizeMainText;
      color: #ffffff;
      line-height: 19px;
      font-weight: $regular;
    }
  }
}
