@import "../../style/variable.scss";
.wraper-radio {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: $sizeHeading;
  line-height: 17px;
  font-family: $fontPrimary;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #4d4d4d;
    border-radius: 50%;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

/* On mouse-over, add a grey background color */
.wraper-radio:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.wraper-radio input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.wraper-radio input:checked ~ .checkmark:after {
  display: block;
}

.wraper-radio .checkmark:after {
  left: 1px;
  top: 1px;
  width: 0px;
  height: 0px;
  border: solid #4d4d4d;
  border-width: 6px;
  transform: rotate(0deg);
  border-radius: 50%;
}
