$fontPrimary: "Calibri";
$fontSecondary: "Segoe UI";

$sizePageTitle: 24px;
$sizeSectionTitle: 20px;
$sizeHeading: 14px;
$sizeMainText: 16px;
$sizeCaption: 12px;

$semilight: 300;
$semibold: 600;
$bold: 700;
$regular: 400;
